$primary-color: rgba(25, 167, 6, 0.973);

footer{
     background-color: rgb(24, 24, 24);
     padding-top: 10px;
     padding-bottom: 10px;
     font-size: 14px;
     margin-top: 5%;
     color: rgb(218, 217, 217);

     span{
        font-size: 16px;
        color: rgba(25, 167, 6, 0.973);
     }
}